<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <i class="material-icons prefix">mode_edit</i>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="input-field">
    <i class="material-icons prefix">mode_edit</i>
    <%= form.label :body %>
    <%= form.text_area :body, id: "body", class: "materialize-textarea" %>
  </div>
  
  <div class="input-field">
    <%= form.label "Select tags for this dream" %>
    <%= form.select :category_ids, Category.all.collect { |c| [ c.name, c.id ] }, {include_blank: true}, { multiple: true } %>

  </div>

  <div class="actions">
    <%= form.submit class: "btn" %>
  </div>
<% end %>
